body{
    width: 1152px;
}
.d{
    display: flex;
    margin-left: 830px;
}

h3{
    margin-left: 10px;
}



.logo{
    
    position: absolute;
    top: -110px;
    left: 60px;
}

.backimg{
    margin: auto;
    width: auto;
    margin-left: 110px;
    
}

.x{
    height: 450px;
    position: relative;
    margin-top: 50px;
}