html, body {



    max-width: 1152px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

header {
    height: 90vh;
}

.header-menu {
    position: absolute;
    top: 80px;
    right: 150px;
}

.header-right {
    display: flex;
    justify-content: end;
}

.header-right li {
    margin-left: 20px;
}

.mainVisual {
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.visual {
    position: absolute;
    top: 121px;
    left: 60px;
}

.text-img {
    position: absolute;
    top: 355px;
    right: 7px;
}

.sp{
opacity: 0;
}
.subtitle {
    position: absolute;
    top: 600px;
    left: 0;
    font-size: 25px;
}




/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
main {
    margin-top: 200px;
    height: auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
}

.contents {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.thumbnail {
    width: 350px;
    height: auto;
}

.box:hover {
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.box {
    width: 350px;
    height: 450px;
    position: relative;
}

.dates, .text {
    font-size: 18px;
    font-weight: 100;
    margin: 0 10px;
    margin-top: 10px;
}

.btn_box {
    display: inline-block;
    position: absolute;
    top: 400px;
    right: 30px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn_box p {
    font-size: 13px;
}

.btn_box span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-bottom: solid 2px black;
}


footer {
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}




@media screen and (max-width: 767px){

 .logo{
     left: 280px;
 }

 .visual{
    
opacity: 0;



 }

 .text-img{
     opacity: 0;
 }

 

 .header-right{
    opacity: 0;

 }

.sp{
    
    margin-top: -300px;

    opacity: 1;

    

}

main{

    margin-top: 500px;
}



.sp-text{
    height: 500px;
    width: 767px;

    margin-top: -530px;
    margin-left: 50px;
}



.a{
    margin-top: 30px;

    line-height: 1.5;
    text-align: center;
}

.b{
  opacity: 0;;
}
 
}