body{
    width: 1152px;
}
.d{
    display: flex;
    margin-left: 830px;
}

h3{
    margin-left: 10px;
}



.x{
    height: 600px;
    position: relative;
    margin-top: 50px;
    
}

.logo{
    
    position: absolute;
    top: -110px;
    left: 60px;
}

.backimg{
    margin: auto;
    width: auto;
    margin-left: 110px;
    
}


.x{
    height: 450px;
    position: relative;
    margin-top: 50px;
}



.text{
    position: absolute;
    left: 700px;
    top: 235px;

}
p{
    position: absolute;
    left: 70px;
    top: 440px;
}

footer{
    background-color: black;
    height: 100px;
    width: 1152px;
}
 

 

 
 @media screen and (max-width: 767px) {

    
    
.x{
    height: 450px;
    position: relative;
    margin-top: 50px;
}
   
    .logo{
    
        position: absolute;
        top: -110px;
        right: 365px;
    }
    

        .backimg{
            margin: auto;
            width: auto;
            margin-left: 110px;
            
        }
        
        p{
            position: absolute;
            left: 70px;
            top: 440px;
        }

    
    
 }
